In [1]:
# Import necessary libraries 
import pandas as pd

In [2]:
# Load the dataset from the CSV file
df = pd.read_csv('../data/raw/Activities.csv')

In [4]:
# Display the first few rows of the DataFrame to understand its structure
df.head()

,Activity Type,Date,Favorite,Title,Distance,Calories,Time,Avg HR,Max HR,Aerobic TE,...,Decompression,Best Lap Time,Number of Laps,Max Temp,Distance.1,Total Descent.1,Moving Time,Elapsed Time,Min Elevation,Max Elevation
0,Treadmill Running,2024-01-22 20:19:55,False,Treadmill Running,5.26,408,00:30:08,147,169,3.5,...,No,01:29.39,6,0.0,5.26,--,00:30:06,00:30:08,--,--
1,Treadmill Running,2024-01-18 17:02:50,False,Treadmill Running,5.12,410,00:30:20,148,171,3.5,...,No,00:46.92,6,0.0,5.12,--,00:30:14,00:30:20,--,--
2,Treadmill Running,2024-01-15 19:33:44,False,Treadmill Running,5.01,403,00:30:12,146,167,3.4,...,No,00:02.12,6,0.0,5.01,--,00:30:01,00:30:12,--,--
3,Treadmill Running,2024-01-12 18:19:25,False,Base,4.80,412,00:30:19,148,166,3.4,...,No,05:11.23,5,0.0,4.80,--,00:29:38,00:30:19,--,--
4,Treadmill Running,2024-01-09 15:51:13,False,Base,5.15,423,00:31:10,148,164,3.5,...,No,01:21.02,6,0.0,5.15,--,00:31:07,00:31:10,--,--

In [5]:
# Get a concise summary of the DataFrame, including the number of non-null values in each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Activity Type             413 non-null    object
 1   Date                      413 non-null    object
 2   Favorite                  413 non-null    bool
 3   Title                     413 non-null    object
 4   Distance                  413 non-null    object
 5   Calories                  413 non-null    object
 6   Time                      413 non-null    object
 7   Avg HR                    413 non-null    int64
 8   Max HR                    413 non-null    int64
 9   Aerobic TE                413 non-null    object
 10  Avg Run Cadence           413 non-null    object
 11  Max Run Cadence           413 non-null    object
 12  Avg Pace                  413 non-null    object
 13  Best Pace                 413 non-null    object
 14  Total Ascent              413 non-null    object
 15  Total Descent             413 non-null    object
 16  Avg Stride Length         413 non-null    float64
 17  Avg Vertical Ratio        413 non-null    float64
 18  Avg Vertical Oscillation  413 non-null    float64
 19  Avg Ground Contact Time   413 non-null    int64
 20  Training Stress Score®    413 non-null    float64
 21  Avg Power                 413 non-null    int64
 22  Max Power                 413 non-null    int64
 23  Grit                      413 non-null    float64
 24  Flow                      413 non-null    float64
 25  Total Strokes             413 non-null    object
 26  Avg. Swolf                413 non-null    int64
 27  Avg Stroke Rate           413 non-null    int64
 28  Total Reps                413 non-null    int64
 29  Dive Time                 413 non-null    object
 30  Min Temp                  413 non-null    float64
 31  Surface Interval          413 non-null    object
 32  Decompression             413 non-null    object
 33  Best Lap Time             413 non-null    object
 34  Number of Laps            413 non-null    int64
 35  Max Temp                  413 non-null    float64
 36  Distance.1                413 non-null    object
 37  Total Descent.1           413 non-null    object
 38  Moving Time               413 non-null    object
 39  Elapsed Time              413 non-null    object
 40  Min Elevation             413 non-null    object
 41  Max Elevation             413 non-null    object
dtypes: bool(1), float64(8), int64(9), object(24)
memory usage: 132.8+ KB

In [16]:
# Convert Date & Time to correct format
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      413 non-null    object
 1   Date               413 non-null    datetime64[ns]
 2   Title              413 non-null    object
 3   Distance           413 non-null    object
 4   Calories           413 non-null    object
 5   Time               413 non-null    object
 6   Avg HR             413 non-null    int64
 7   Max HR             413 non-null    int64
 8   Aerobic TE         413 non-null    object
 9   Avg Run Cadence    413 non-null    object
 10  Max Run Cadence    413 non-null    object
 11  Avg Pace           413 non-null    object
 12  Best Pace          413 non-null    object
 13  Total Ascent       413 non-null    object
 14  Total Descent      413 non-null    object
 15  Avg Stride Length  413 non-null    float64
 16  Total Strokes      413 non-null    object
 17  Avg. Swolf         413 non-null    int64
 18  Avg Stroke Rate    413 non-null    int64
 19  Dive Time          413 non-null    object
 20  Surface Interval   413 non-null    object
 21  Decompression      413 non-null    object
 22  Best Lap Time      413 non-null    object
 23  Number of Laps     413 non-null    int64
 24  Distance.1         413 non-null    object
 25  Total Descent.1    413 non-null    object
 26  Moving Time        413 non-null    object
 27  Elapsed Time       413 non-null    object
 28  Min Elevation      413 non-null    object
 29  Max Elevation      413 non-null    object
 30  ActivityID         413 non-null    int64
 31  ActivityTypeID     413 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(23)
memory usage: 103.4+ KB

In [6]:
# Display statistical summaries of numeric columns
df.describe()

,Avg HR,Max HR,Avg Stride Length,Avg Vertical Ratio,Avg Vertical Oscillation,Avg Ground Contact Time,Training Stress Score®,Avg Power,Max Power,Grit,Flow,Avg. Swolf,Avg Stroke Rate,Total Reps,Min Temp,Number of Laps,Max Temp
count,413.000000,413.000000,413.000000,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.0,413.000000,413.000000,413.0,413.0,413.000000,413.0
mean,142.898305,165.685230,0.713341,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.566586,1.399516,0.0,0.0,6.571429,0.0
std,17.594387,17.413105,0.494521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11.254494,5.949439,0.0,0.0,6.254929,0.0
min,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
25%,137.000000,161.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,1.000000,0.0
50%,147.000000,168.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,6.000000,0.0
75%,153.000000,175.000000,1.080000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,8.000000,0.0
max,168.000000,207.000000,1.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92.000000,34.000000,0.0,0.0,38.000000,0.0

In [13]:
# Drop columns where all values are 0
df = df.loc[:, (df != 0).any(axis=0)]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      413 non-null    object
 1   Date               413 non-null    object
 2   Title              413 non-null    object
 3   Distance           413 non-null    object
 4   Calories           413 non-null    object
 5   Time               413 non-null    object
 6   Avg HR             413 non-null    int64
 7   Max HR             413 non-null    int64
 8   Aerobic TE         413 non-null    object
 9   Avg Run Cadence    413 non-null    object
 10  Max Run Cadence    413 non-null    object
 11  Avg Pace           413 non-null    object
 12  Best Pace          413 non-null    object
 13  Total Ascent       413 non-null    object
 14  Total Descent      413 non-null    object
 15  Avg Stride Length  413 non-null    float64
 16  Total Strokes      413 non-null    object
 17  Avg. Swolf         413 non-null    int64
 18  Avg Stroke Rate    413 non-null    int64
 19  Dive Time          413 non-null    object
 20  Surface Interval   413 non-null    object
 21  Decompression      413 non-null    object
 22  Best Lap Time      413 non-null    object
 23  Number of Laps     413 non-null    int64
 24  Distance.1         413 non-null    object
 25  Total Descent.1    413 non-null    object
 26  Moving Time        413 non-null    object
 27  Elapsed Time       413 non-null    object
 28  Min Elevation      413 non-null    object
 29  Max Elevation      413 non-null    object
 30  ActivityID         413 non-null    int64
 31  ActivityTypeID     413 non-null    int64
dtypes: float64(1), int64(7), object(24)
memory usage: 103.4+ KB

In [15]:
def generate_alphanumeric_id(prefix, idx):
    """
    Generates an alphanumeric ID with a given prefix and index.
    
    Parameters:
    - prefix (str): The prefix for the ID.
    - idx (int): The numeric index for the ID.
    
    Returns:
    - str: An alphanumeric ID.
    """
    return f"{prefix}{idx:03d}"  # Pads the index with zeros, e.g., AT001

# Generate unique IDs for each activity type
activity_types = df['Activity Type'].unique()

# Generate Alphanumeric IDs
alphanumeric_ids = [generate_alphanumeric_id("AT", i+1) for i in range(len(activity_types))]

# Create a mapping DataFrame
activity_types_df = pd.DataFrame({
    'ActivityTypeID': alphanumeric_ids,
    'ActivityType': activity_types
})


# Display the Activity Types table
activity_types_df

  ActivityTypeID       ActivityType
0          AT001  Treadmill Running
1          AT002            Running
2          AT003      Indoor Rowing
3          AT004      Pool Swimming
4          AT005             Cardio
5          AT006         Elliptical
6          AT007              Other
7          AT008            Walking
8          AT009     Indoor Cycling
9          AT010            Cycling

In [10]:
# Add an Activity ID column as a primary key
df['ActivityID'] = range(1, len(df) + 1)

# Create the Activities Table DataFrame
activities_df = df[['ActivityID', 'Activity Type', 'Date', 'Title']].copy()
activities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ActivityID     413 non-null    int64
 1   Activity Type  413 non-null    object
 2   Date           413 non-null    object
 3   Title          413 non-null    object
dtypes: int64(1), object(3)
memory usage: 13.0+ KB